@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;150;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.scene {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #ebf5fc;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.1), inset 6px 6px 20px rgba(0, 0, 0, 0.5);
    animation: scene 3s linear infinite;
    animation-delay: 6s;
}

section.active .scene {
    background: #3b93ff;
    animation: sceneColor 3s linear infinite;
    animation-delay: 6s;
}

@keyframes scene {
    0% {
        background: #e6e6e6;
    }

    30% {
        background: #ebf5fc;
    }

    70% {
        background: #ebf5fc;
    }

    100% {
        background: #e6e6e6;
    }
}

@keyframes sceneColor {
    0% {
        background: #3b93ff;
    }

    30% {
        background: #b339ff;
    }

    70% {
        background: #b339ff;
    }

    100% {
        background: #3b93ff;
    }
}

.fa-rocket {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #ebf5fc;
    font-size: 8em;
    animation: rocket 0.5s linear infinite;
    animation-delay: 3s;
    text-shadow: -6px 6px 12px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

section.active .fa-rocket {
    color: #fff;
}

@keyframes rocket {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg) translate(0, 0);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-45deg) translate(-5px, 5px);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg) translate(0, 0);
    }
}

.fa-cloud {
    position: absolute;
    color: #cccccc;
    top: -100%;
}

.fa-cloud:nth-child(3n+1) {
    left: 0%;
    font-size: 6em;
    animation: clouds 0.5s linear infinite;
    animation-delay: 3s;
}

.fa-cloud:nth-child(3n+2) {
    left: 30%;
    font-size: 3em;
    animation: clouds 0.5s linear infinite;
    animation-delay: 3.08s;
}

.fa-cloud:nth-child(3n+3) {
    right: 0%;
    font-size: 5em;
    animation: clouds 0.5s linear infinite;
    animation-delay: 3.12s;
}

@keyframes clouds {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(1000%);
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 8px solid #ebf5fc;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1), 6px 6px 20px rgba(0, 0, 0, 0.1), inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.container::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background: #ebf5fc;
    border-radius: 50%;
    border: 8px solid #ebf5fc;
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5), inset 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.container span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#e6e6e6, #ebf5fc, #cccccc);
    z-index: -1;
    filter: blur(20px);
    animation: animate 2s linear infinite;
}

section.active .container span {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h3 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

section.active h3 {
    color: #0d614b;
}

input[type="checkbox"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    -webkit-appearance: none;
    background: #ebf5fc;
    border-radius: 50%;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input[type="checkbox"]::after {
    content: '\f011';
    font-family: fontAwesome;
    font-size: 2em;
    color: #cccccc;
}

input[type="checkbox"]:checked:after {
    color: #15e38a;
}

input[type="checkbox"]:checked {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.reset {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #ebf5fc;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.reset:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.reset span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
}

.active .reset span {
    color: #5a84a2;
}

.reset:hover span {
    transform: scale(0.98);
}

@media (max-width: 600px) {
    .scene {
        width: 200px;
        height: 200px;
    }

    .container {
        width: 300px;
        height: 300px;
    }

    input[type="checkbox"] {
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        z-index: 1;
    }

    input[type="checkbox"]::after {
        font-size: 1em;
    }

    .fa-cloud:nth-child(3n+1) {
        font-size: 4em;
    }
    
    .fa-cloud:nth-child(3n+2) {
        font-size: 2em;
    }
    
    .fa-cloud:nth-child(3n+3) {
        font-size: 3em;
    }
}